*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#282d16,#67893f);
     color: #90b50a;
     height: 100vh;
     display: flex;
     justify-content: center;
}
h1{
    text-align: center;
    color: #90b50a;
    font-size: 2.5rem;
    margin-top: 20px;
}
.container{
    margin-top: 30px;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;   
}
.btn-container{
    padding-right:  100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.buttons{
    padding: 20px;
    font-size: 2rem;
    color: #00060a;
    background-color:#5b9234;
    border: none;
    border-radius: 50px;
    width: 300px;
}
span{
   font-size: 2rem;
   color: #0b0a0a;
}
p{
    font-size: 2rem;
    margin-top: 20px;
}
.result{
    margin-left: 180px;
    width: 350px;
    padding: 10px 20px;
    background-color: rgb(17, 18, 18);
    text-align: center;
    border-radius: 20px;
}
.reset{
    border: none;
    width: 200px;
    height: 50px;
    background-color: #00060a;
    color: #03c8f4;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 250px;
    border-radius: 20px;
};